*{
  height: auto;
  font-size: 14px;
  margin: 0;
  box-sizing: border-box;
}

.container-fluid{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

html{
  background-color: #fff;
}

body{
  display: block;
  min-width: auto;
  place-items: initial;
}

.container-fluid{
  padding-left: 0;
  padding-right: 0;
}

.row, .container{
  width: 100%;
}

.logo{
  height: 120px;
}

header{
  position: fixed;
  width: 100%;
  z-index: 1;
}

.carousel{
  position: relative;
  z-index: 0;  
}

main{
  padding-top: 140px;
}

.bg-header{
  background-color: #ddd;
}

.carousel-item img{
  height: 700px;
  object-fit: cover;
}


@media(max-width:1000px){
  .img-h .carousel-item img{
      height: auto;
  }
}

.cont h2{
  text-align: center;
  font-size: 22px;
  color: #fff;
  background-color: #000;
  padding: 5px 0;
}

.cont img{
  height: 210px;
  width: 100%;
  object-fit: cover;
}

/* ===================  banner call to action ============= */

.banner-call{
  width: 100%;
  background-color: #ddd;
  margin: 20px 0;
  padding: 30px 0;
}

.banner-call h1{
  text-transform: uppercase;
  text-align: center;
}

/* ===================  banner delivery ============= */
.bg-banner{
  background-color: #bfd403;
  margin: 20px auto 40px;
  
}

.col-dir{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col-dir h2{
  font-size: 2.6rem;
  /* rem é definido com base com base na medida de fonte escrito na classe pai (*) */
}

.col-dir h3{
  font-size: 2.2rem;
}

/* ===================  banner delivery ============= */

.contato{
  width: 100%;
  background-color: #333;
  padding: 30px 0;
}

.contato h1{
  text-align: center;
  color: #fff;
}

.contato span, .contato i{
  color: #fff;
  font-size: 22px;
}

.contato i{
  margin-right: 10px;
}

.icon-large i{
  font-size: 35px;
}

.linha-form{
  margin: 5px 0;
}

.contato input, .contato textarea{
  width: 100%;
  border-radius: 3px;
  padding: 5px;
}

.contato textarea{
  resize: none;
}

.contato input[type=submit]{
  width: fit-content;
  background-color: #000;
  color: #fff;
  padding: 5px 20px;
  float: right;
}

::placeholder{
  color: #666;
}

.bg-footer{
  width: 100%;
  background-color: #ccc;
  margin-top: -5px;
  padding: 30px 0;
}

.bg-footer p{
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 0;
}

